.backgroundImg {
  width: 100%;
  height: 100vh;
  background-image: url(../../assets/images/devpic10.jpg);
  background-repeat: repeat-x;
  min-height: 500px;
  background-size: cover;
  overflow: hidden;
  text-align: center;
  -webkit-background-size: cover;
    display: flex;
  align-items: center;
  
}

.hero {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;


}

.heroName {
  font: 90px/1.1em "opensans-bold", sans-serif;
  color: #fff;
  letter-spacing: -2px;
  margin: 0 auto 18px auto;
  text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.8);
}

.heroText {
  font: 20px/1.9em "librebaskerville-regular", serif;
  color: #eff0e8;
  margin: 0 auto;
  width: 70%;
  text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5);
}

.social {
  display: flex;
  justify-content: space-around;
}

.socialLinks {
  list-style: none outside;
  display: flex;
  justify-content: space-around;
  width: 20vw;
}
